body {
  background-color: black;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90vh 5vh;
  place-items: center;
}

.logoSearchLogin {
  grid-column: 1 / -1;
  grid-row: 1 / -2;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  align-self: end;
}
