body {
  background-color: black;
  color: white;
  font-family: 'Roboto Slab', serif;
}

/* Grid */
.bodyContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 10% auto;
}

.logo {
  grid-column: 1 / 2;
}

.searchForm {
  grid-column: 2 / -1;
  justify-self: start;
}

.contentContainer {
  grid-column: 1 / -1;
  justify-self: center;
}

.logoImg {
  /* height: 24px;
  width: 80px;
  padding: 0.732vw; */
}

/* Search Form */
input.searchInput {
/* font-size: 25px; */
background-color: #151515;
color: white;
/* padding: 15px 20px; */
/* width: 58.858vw; */
/* height: 3.514vw; */
border: 0px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
}

button.searchButton {
  /* font-size: 25px; */
  background-color: #151515;
  color: white;
  /* padding: 15px 20px 12px 20px; */
  /* height: 3.514vw; */
  border: 0px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

form.searchForm {
  /* border: 20px;  */
}

.searchInput .searchButton {
  height: 100vh;
  width: 1000vw;
}

/* [Responsive] Now Playing [Widget]*/
.nowPlayingYt {
   position: relative;
   overflow: hidden;
   width: 100%;
   padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Setting itemInfo to be on the right of itemThumb */
.item {
  display: flex;
  align-items: center;
}

.itemInfo {
  padding-left: 5px;
}

.itemChannel {
  color: #bbbbbb;
}

/* Mediq Query */
@media only screen and (min-width: 1366px) {
  .bodyContainer {
    grid-template-columns: 1fr minmax(1000px, 1fr) 1fr;
    grid-template-rows: 40px auto;
  }

  .logoImg {
    height: 1.757vw;
    width: 5.857vw;
    padding: 0.732vw;
  }

  .searchForm {
    grid-column: 2 / 3;
    justify-self: center;
  }

  input.searchInput {
  font-size: 20px;
  background-color: #151515;
  color: white;
  padding: 15px 20px;
  width: 58.858vw;
  height: 3.514vw;
  border: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  }

  button.searchButton {
    font-size: 25px;
    background-color: #151515;
    color: grey;
    padding: 0 20px 4px;
    height: 3.514vw;
    border: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}
